<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mt-3">ブックマークした記事</h2>
    </div>
  </div>
  <%#= render "posts/search", { tags: @tags, word: @word } %>
  <div class="row">
    <div class="col-lg-12">
      <% if @user == current_user %>
        <% if @bookmarks.count == 0 %>
          ブックマークした記事はありません😔
        <% else %>
          <%= render "bookmarks/index", { bookmarks: @bookmarks } %>
        <% end %>
      <% else %>
        <%= link_to user_path(@user.id) do %>
            <p>マイページへ戻る</p>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
