<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="font-weight-bold mt-3">いいねした記事</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <% if @favorites.count == 0 %>
        いいねした記事はありません😔
      <% else %>
        <%= render "favorites/index", { favorites: @favorites } %>
        <%= paginate(@favorites) %>
      <% end %>
    </div>
  </div>
</div>
