<% if @user == current_user %>
  <% @favorites.each do |favorite| %>
    <%= link_to post_path(favorite.post) do %>
      <%= favorite.post.title %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to user_path(@user.id) do %>
    <p>マイページへ戻る</p>
  <% end %>
<% end %>