<div class="mt-3 d-flex justify-content-start">
  <%= form_with model: [post, comment], local:false do |f| %>
    <div>
      <%= f.rich_text_area :comment, rows: "3", placeholder: "コメントを入力" %>
    </div>
    <div>
      <%= f.submit "📮コメント" , class: "btn btn-outline-info" %>
    </div>
  <% end %>
</div>