<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <%= render "users/index", { users: @users } %>
      <div class="mt-3">
        <%= paginate(@users) %>
      </div>
    </div>
  </div>
</div>
