<div class="view-1">
  <div>
    <h2>Teracoについて</h2>
  </div>
  <div>
    <p>
    ここには、さまざまな記事があります。<br>
    面白い本。遊べる場所。家での過ごし方。勉強のノウハウ。<br>
    一つ一つの記事が、子ども達と豊かに過ごせるヒントになるはずです。<br>
    </p>
  </div>
</div>
<div class="view-2">
  <div>
    <h2>記事を読む</h2>
  </div>
  <div>
    <p>
    まずは試しに記事を読んでみてください。<br>
    読むだけなら、ユーザー登録は必要ありません。<br>
    子ども達との日々の暮らしを豊かにするような記事が、きっと見つかります。<br>
    </p>
  </div>
</div>
<div class="view-3">
　<div>
    <h2>記事を書く</h2>
  </div>
  <div>
    <p>
    そして、あなたの知識を誰かにシェアしたくなったら、ぜひ記事を投稿してください。<br>
    ユーザー登録をすれば、記事を投稿することができます。<br>
    あなたの記事が、きっと子ども達の暮らしを豊かにしてくれます。<br>
    </p>
  </div>
</div>
<div class="view-4">
  <div>
    <h2 class="promise">約束事</h2>
  </div>
  <div>
    <p class="promise">
    teracoを利用するにあたり、下記事項をお守りください。
    </p>
    <ul class="promise">
      <li>社会通念上ふさわしい表現であること</li>
      <li>他の利用者に不快感を与えない表現であること</li>
      <li>著作権、肖像権等他人の権利を侵害しない内容であること</li>
      <li>投稿者以外の者の個人情報が含まれない内容であること</li>
    </ul>
  </div>
</div>
