<div>
  <% if @post.favorited_by?(current_user) %>
    <%= link_to "â¤ï¸", post_favorites_path(@post), method: :delete %>
  <% else %>
    <%= link_to "ðŸ¤", post_favorites_path(@post), method: :create %>
  <% end %>
</div>