<div class="container">
  <%= render "posts/search", { tags: @tags, word: @word } %>
  <div class="row">
    <div class="col-lg-12">
      <% if @posts.count == 0 %>
        該当する記事はありませんでした😔
      <% else %>
        <%= render "posts/index", { posts: @posts } %>
      <% end %>
    </div>
  </div>
</div>