<div class="container">
  <%= render "posts/search", { tags: @tags, word: @word } %>
  <%= render "posts/rank" %>
  <div class="row">
    <div class="col-lg-12 text-center center-block">
      <% if @posts.count == 0 %>
        <div class="mt-5">
          <p>
            記事はありません😔
          </p>
        </div>
      <% else %>
        <%= render "posts/index", { posts: @posts } %>
      <% end %>
      <div class="mt-3">
        <%= paginate(@posts) %>
      </div>
    </div>
  </div>
</div>