<!--<footer class="container-fluid bg-info w-100 text-light text-center pt-5" >-->
<!--  <div class='container pt-5 bg-info'>-->
<!--  	<div class='row'>-->
<!--    	<div class='mx-auto pt-3'>-->
<!--    		<p class="text-white"></p>-->
<!--    	</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer class="footer bg-info text-center">
  <div class="container">
    <p class="text-white pt-3">teraco &copy; All Right Reserved.</p>
  </div>
</footer>