<footer class="container-fluid bg-info w-100 text-light text-center mt-5" >
  <div class='container mt-5 bg-info'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="text-white">teraco &copy; All Right Reserved.</p>
    	</div>
    </div>
  </div>
</footer>