<footer>
  <div class='container mt-5 bg-info fixed-bottom'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="text-white">teraco &copy; All Right Reserved.</p>
    	</div>
    </div>
  </div>
</footer>